
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,700&display=swap');


a{
    color: rgb(128, 0, 0);
}
h2{
    color: purple;
}

#top{
    background-color: rgb(5, 231, 81);
}
body{
    background-color: bisque;
    
   background-repeat: no-repeat;
   background-size:cover;
   font-family: 'Playfair Display', serif;

}

#header{
    height: 200px;
    background-color: red;
    border: 2px solid black;
    outline: rgb(44, 243, 18) 2px solid;
   /* margin-bottom: 20px;
    margin-top: 50px; */
    margin: 30px;
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#container
{
    max-width: 1080px;
    font-family: 'Playfair Display', serif;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    color: rgb(24, 4, 4);
    text-decoration: none;
}
a:hover{
    color:white;
    background-color: black;
}
a:active{
    color: aqua;
}
/* 1 st index file css */
table{
    border: 2px red solid;

}
th{
    width:12%; border:1px solid rgb(4, 233, 15);
}
td{
    border:1px solid rgb(25, 12, 201) 
}
nav div{
    display: inline;
}
.one .two{
    height: 200px;
    width: 500px;
    
}
.one{
    background-color: red;
    display: inherit;
}
.two{
    background-color: blue;
    display: inline-table;
}
.box{
    margin: auto;
    width: 1040px;
}